#about {
  font-size: 18px;
  margin: 50px auto;
}
#about .container-fluid {
  max-width: 780px;
}
#about h1 {
  margin: 1.5rem 0;
  font-size: 2em;
  font-weight: 700;
}
#about p {
  color: #3c3c3c;
}
@media (min-width: 768px) {
  #about h1 {
    font-size: 3em;
  }
}
