#photos {
  padding: 40px 0;
  background: #3c3c3c;
}
#photos h2 {
  margin: 1rem 0;
  font-weight: 700;
  text-align: center;
  color: white;
}
#photos .slider figure {
  border-radius: 40px;
  overflow: hidden;
}
#photos .photos-slider {
  max-width: 750px;
  margin: 40px auto;
  border-radius: 40px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.5);
}
#photos .photos-slider figure {
  max-height: 420px;
  aspect-ratio: 1;
}
