{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Космическое Агентство</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <link rel="stylesheet" type="text/css" href={% static "css/common.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/header.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/about.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/advantages.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/photos.css" %} />
  </head>
  <body>
    <header class="navbar-expand-sm navbar-dark">
      <section class="container-fluid">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Развернуть меню навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="" aria-label="Начальная страница">
          <figure>
            <img src={% static "img/logo.svg" %} alt="Логотип" />
          </figure>
        </a>
        <nav class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#advantages">Преимущества</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#photos">Фотографии</a>
            </li>
          </ul>
        </nav>
        <a class="btn btn-login text-white" href="/admin" role="button">Вход</a>
      </section>
    </header>

    <main>
      <section id="about">
        <article class="container-fluid text-center">
          <h1>Космическое агентство</h1>
          <p>Национальное управление по аэронавтике и исследованию космического
             пространства — ведомство, относящееся к федеральному правительству
             США и подчиняющееся непосредственно президенту США.</p>
        </article>
      </section>
      <section id="advantages">
        <article class="container-fluid">
          <section class="row row-cols-1 row-cols-md-2 align-items-center">
            <section class="col cards">
              <section class="row row-cols-2">
                <section class="col">
                  <figure>
                    <img src={% static "img/space-shuttle.svg" %} alt="Space-шаттл">
                  </figure>
                  <p>Space-шаттлы — пилотируемые корабли</p>
                </section>
                <section class="col">
                  <figure>
                    <img src={% static "img/telescope.svg" %} alt="Телескоп">
                  </figure>
                  <p>Лучшее телескопическое оборудование</p>
                </section>
                <section class="col">
                  <figure>
                    <img src={% static "img/moon-stars.svg" %} alt="Луна и звезды">
                  </figure>
                  <p>Целимся на Луну и Марс</p>
                </section>
                <section class="col">
                  <figure>
                    <img src={% static "img/medal.svg" %} alt="Медаль">
                  </figure>
                  <p>Золотая медаль по научным исследованиям</p>
                </section>
              </section>
            </section>
            <section class="col filler py-5 py-md-0 ps-md-4">
              <figure>
                <img src={% static "img/space.jpg" %} alt="Космос">
              </figure>
            </section>
          </section>
        </article>
      </section>
      <section id="photos">
        <article class="container-xl">
          <h2>Фотографии</h2>
          <section class="slider photos-slider">
            {% for entry in slider_entries %}
              <figure>
                <img src="{{ entry.image.url }}"
                     alt="{{ entry.image.default_alt_text|default_if_none:"" }}" />
              </figure>
            {% endfor %}
          </section>
        </article>
      </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>    

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript" src={% static "js/slider.js" %}></script>
  </body>
</html>
